<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>

	<% include ../partials/header %>
	<img src="/images/logo.jpg" class="logo">
	<div class="headline">
		<h2><%= content.headline %></h2>
	</div>
	<div class="overlay"></div>
	<div class="homeImage">
		
	</div>

	<div class="homeCardsContainer">
		<!-- Upcoming Shows Card -->
		<div class="nextShows homeCard">
			<h2>Upcoming Horror Business</h2>
			<% shows.forEach((show) => { %>
			    
			    <br>
			    Date:
			    <%= show.date.toDateString() %>
			    <br>
			    Venue: 
			    <%= show.venue %>
			    <br>
			    <% if(show.time) { %>
			    Time:
			    <%= show.time %>
			    <br>
			    <% } %>
			    <% if(show.bands) { %>
			    Bands:
			    <%= show.bands %>
			    <br> 
			    <% } %>
			    City:
			    <%= show.city %>
			    <br>
			    <br>
			<% }) %>
		</div>

		<!-- Current News Card -->
		<!-- <div class="currentNews homeCard">
			
		</div> -->
	</div>

	<div class="links">
		<br>
		<a href="https://www.facebook.com/doylerulesband/" target="blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
		<a href="https://www.youtube.com/channel/UCIN_25AEWaZsUQ7cTPj11vw" target="blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
		<a href="" target="blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		<br>
	</div>

<script type="text/javascript" src="/js/script.js"></script>
<% include ../partials/footer %>
</body>
</html>