<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
	<% include ../partials/header %>
	<img src="/images/logo.jpg" class="logo">
	<div class="showImage">
		
	</div>

	<% shows.forEach((show) => { %>
		<br>
	    Date:
	    <%= show.date.toDateString() %>
	    <br>
	    Venue: 
	    <%= show.venue %>
	    <br>
	    <% if(show.time) { %>
		    Time:
		    <%= show.time %>
		    <br>
	    <% } %>
	    <% if(show.bands) { %>
		    Bands:
		    <%= show.bands %>
		    <br> 
	    <% } %>
	    City:
	    <%= show.city %>
	    <br>
	    <% if(show.link) { %>
		    Event Page:
		    <br>
		    <a href="<%= show.link %>" target="_blank"><%= show.link %></a>
		    <br> 
	    <% } %>
	    <br>
	<% }) %>

	<% include ../partials/footer %>
</body>
</html>